@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

/* Hero Company Logo Carousel Animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.pause-animation:hover .animate-scroll {
  animation-play-state: paused;
}

/* Creator Page Floating Animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
